<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>002-数据绑定</title>
</head>
<body ng-app>
	<!-- 
		view => 12131
		model => 12131
		3个view
		数据是双向绑定的
	 -->
	<input type="text" ng-model='name' value="">
	<!-- angular表达式 -->
	<!-- {{100}} -->
	{{name=123}}
	<input type="text" ng-model='name' value="">
<!-- 	{{if(true){
		console.log(1);
	}}} 不能出现逻辑 -->
	<script type='text/javascript' src='../../vendor/angular/angular.js'></script>
	<script>
		//js表达式
		var string = 'alert(1+2)';
		// eval(string);
	</script>
</body>
</html>