<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>过滤器练习</title>
	<link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div ng-app='myapp' class="container">
		<div ng-controller='productController'>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input ng-model='search' type="text" class="form-control" placeholder="Search">
							</div>
						</form>
					</div>
				</div>
			</nav>
			<table class="table">
				<thead>
					<tr>
						<th ng-class="{'dropup':orderType == ''}" ng-click='changeOrder("id")'>
							商品编号
							<span class="caret"></span>
						</th>
						<th ng-class="{'dropup':orderType == ''}" ng-click='changeOrder("name")'>
							商品名称
							<span class="caret"></span>
						</th>
						<th ng-class="{'dropup':orderType == ''}" ng-click='changeOrder("price")'>
							商品价格
							<span class="caret"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='product in productData | filter:{id:search} | orderBy: orderType + orderItem'>
						<td>{{product.id}}</td>
						<td>{{product.name}}</td>
						<td>{{product.price}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- ngClass -->

	</div>
	<script type='text/javascript' src='../../vendor/angular/angular.js'></script>
	<script type='text/javascript' src='index.js'></script>
</body>
</html>